MONGO_DB_URI=mongodb://localhost:27017/mydatabase
PORT=3000
JWT_SECRET=your_jwt_secret_key

# Cloudinary
UPLOAD_FOLDER=your_upload_folder_name
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key

# Nodemailer
EMAIL_SERVICE=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email
EMAIL_PASSWORD=your_email_password_or_app_specific_password

# Creator phone number configuration
NEXT_PUBLIC_CREATOR_PHONE=+919999999999